*{
    margin: 0%;
}

.Header{
    width: 100%;
    height:100vh;
    display: flex;
    flex-direction:column;
}

.BannerVideo{
    position:absolute;
    width:100%;
    height:100vh;  
    object-fit:cover;
    z-index:-2;
   filter: brightness(80%);  
}

.Logo{
    color: white;
    font-family: 'Arizonia', cursive;
    font-weight: 300;
    font-size:xx-large;
    margin-left: 20px;
    cursor:grab;
    line-height: 30px;
}


.Navs{
    display: flex;
    justify-content:space-between;
    align-content:center;
    flex-direction: row;
    margin-top:10px;
}

.Lists{
    display: flex;
    justify-content:center;
    align-content: center;
    flex-direction:row;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:  x-large;
    list-style:none;
}

.Lists a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.Lists a:hover{
    color: darkseagreen;
}

.ProfilePic>img{
    width:100px;
    height:100px;
    border-radius:200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: double 4px  darkseagreen;
    cursor:grab;
}

.ProfilePic img:hover{
    transform: scale(1.1);
   }


.ProfilePic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    padding:10px
}

.ProfilePic>h3{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:xx-large;
    font-weight: 200;
    cursor: grab;
    margin-bottom:20px;
}

.ProfilePic>h5{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size:large;
    font-weight: 200;
    cursor: grab;
    margin-bottom:20px;
}

.Name:hover{
    color:darkseagreen;
}

.About{
    margin:50px 30px 20px 30px;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-content: center;
    position:relative;
    transition: all 1s ease-out;
  
}

.Heading{
    width:380px;
    height:220px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: xx-large;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-content: center;
    padding:11% 5% 0% 5%;
    background-color: darkseagreen;
    cursor: grab;
    
}

.Heading>p:hover{
    color:rgb(245, 233, 233);
}

.Discription{
    width: auto;
    height:fit-content;
    font-weight:300;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   font-size: xx-large;
   margin: auto;
   padding:30px;
}

.Title{
    margin: 50px auto 40px auto;
    padding:auto;
    text-align: center;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: x-large;
    font-weight: 400;
}

.EducationQualification{
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: center;
    background-color:darkseagreen;
}

.EducationalCards{
    width:250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    line-height: 30px;
    margin: 50px auto 50px auto;
    padding:20px;
    background: rgba(255, 255, 255, 0.2);
    border-radius:12px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: larger;
    font-weight: 300;
    border:solid 3px rgba(72, 66, 66, 0.053);
}

.EducationalCards:hover{
    border:solid 3px rgba(18, 17, 17, 0.162);
    box-shadow:2px 2px 2px 2px rgba(254, 246, 246, 0.119);
}

.EducationalCards>img{
    width:100px;
    height:100px;
    margin: auto auto 30px auto;
    position: relative;
}

.Skills{
    margin: auto;
}

.SkillsCards{
    width:80%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    margin: auto;
}

.btn{
    width:100px;
    background-color: transparent;
    border: 0ch;
    cursor:pointer;
}

.btn:hover{
    transform: scale(1.5);
}

.Projects{
    display:grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto ;
    justify-content: center;
    align-content:center;
    margin: 50px;
    padding: 30px;
    row-gap:10%;
    column-gap:10%;
}

.GreenCard{
    width:auto;
    background-color: darkseagreen;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:30px;
    margin: 10px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;  
    cursor:pointer;
    font-size: larger;
    text-align: center;
    font-weight: 300;
    border:solid 2px black;
    border-radius: 10px;
    position:relative;
    transition: all 0.5s ease-out;
}
.GreenCard>p{
    text-align: center;
    font-weight: 400;
}

.GreenCard>img{
    margin: auto;
}


.GreenCard:hover{
    border:solid 1px rgba(58, 57, 57, 0.63);
    box-shadow: 5px 5px 3px 3px rgba(143, 188, 143, 0.589);
}

.WhiteCard{
    width:auto;
    background-color:whitesmoke;
    border:solid 2px black;
    color:black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:30px;
    margin: 10px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center; 
    cursor:pointer;
    font-size: larger;
    text-align: center;
    font-weight: 300;
    border:solid 1px black;
    border-radius: 10px;
    position:relative;
    transition: all 0.5s ease-in-out;
}

.WhiteCard>p{
    text-align: center;
    font-weight: 400;
}

.WhiteCard>img{
    margin: auto;
}

.WhiteCard:hover{
    border:solid 1px rgba(58, 57, 57, 0.63);
    box-shadow: 5px 5px 3px 3px rgba(149, 151, 149, 0.589);
}

.ProjectBtn{
    margin: 20px auto 20px auto;
    font-size: large;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    border: solid 1px rgb(16, 16, 16);
   
}

.GreenCard>.ProjectBtn{
    background-color:rgb(81, 112, 81);
    color: aliceblue;
}

.WhiteCard>.ProjectBtn{
    background-color: rgba(249, 251, 251, 0.747);
}

.GreenCard>.ProjectBtn:hover{
    background-color: rgba(10, 138, 72, 0.514);
    color: black;
}

.WhiteCard>.ProjectBtn:hover{
    background-color: rgba(149, 151, 149, 0.589);
    color: black;
}

.Footer{
    background-color: darkseagreen;
    padding: 20px;
    display: flex;
    justify-content:space-evenly;
    flex-direction:column;
    align-content: center;
    margin: auto;
}

.Footer>.Logo{
    color: black;
    margin: 20px auto 20px auto;
}

.Footer img:hover{
    transform: scale(1.9);
   }

   @media screen and (max-width:600px)  {
    .Navs{
        display: none;
    }

    

    .Header{
        word-wrap: break-word;
    }


    .ProfilePic{
        margin: auto;
        display: flex;
        justify-content: center;
        align-content: center;
    }

    .About{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0%;
    }

    .Heading{
        width:200px;
        height:auto;
        margin-top: 10px;
        padding:0%;
    }

    .EducationQualification{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }

    .SkillsCards{
        display: grid;
        grid-template-rows: auto auto auto;
        grid-template-columns: auto auto ;
        justify-content: center;
        align-content: center;
        row-gap:80px;
        column-gap: 60px;
    }

    .Projects{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        margin: 0%;
    }

    .WhiteCard,.GreenCard{
        width:250px;
        padding:20px;
        font-size: larger;
    }

    .EducationalCards{
        margin:20px auto 20px auto ;
    }
    
}
   




